.cards{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px 11px rgba(128, 128, 128, 0.5);
    gap: 2rem;
    margin-bottom: 5%;
}
