.footer{
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 10rem;
    /* border: 2px solid black; */
    /* box-shadow: 10px 2px 5px 10px grey; */
    box-shadow: 0px 1px 20px 11px rgba(128, 128, 128, 0.5);
    
}
.foot1{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;


}
.foot2{
    /* width: 25%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /* background-color: antiquewhite; */
}

.foot3{
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.foot4{
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.icon{
    font-size: 2rem !important;
}
@media (max-width: 675px){
    .footer{
        flex-direction: column;
        gap: 2rem;
    }
    .foot1{
        width: 30%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .foot3{
        align-items: center;
    }
}