.imagebox{
    margin-top: 2%;
    /* width: 100%; */
    /* height: 50vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    /* flex-direction: row; */
    /* float: right; */
    box-shadow: 10px 2px 5px 10px grey;

}
/* .image{
    width: 15.625;
} */
.image img{
    height: 12.635rem;
    /* width: 100%;
     */
     width: 22.635rem;
}
.text{
width: 50vw;
font-size: 1.3rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}